<template>
  <Form>
    <h2 class="steps">Informe de la Interconsulta</h2>
    Fecha: 23/08/2020 Hora:13:10:00
    <br />
    Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino, HCE:28931221
    <FormItem class="negrita" label="Descripcion de hallazgos">
      <Input
        type="textarea"
        placeholder="Coloque una breve descripcion de hallazgos"
      />
    </FormItem>
    <FormItem class="negrita" label="Examenes o procedimientos realizados">
      <Select
        id="servicio"
        class="nonegrita"
        placeholder="Examenes o procedimientos realizados"
      >
        <Option class="nonegrita"> Rayos X</Option>
        <Option class="nonegrita"> Anestesiologia</Option>
        <Option class="nonegrita"> Pediatria</Option>
        <Option class="nonegrita"> Cardiologia</Option>
        <Option class="nonegrita"> Traumatologia</Option>
        <Option class="nonegrita"> Otro </Option>
      </Select>
    </FormItem>

    <FormItem class="negrita" label="Diagnóstico">
      <Input type="textarea" placeholder="Coloque el diagnostico" />
    </FormItem>
    <FormItem class="negrita" label="Tratamiento">
      <Input type="textarea" placeholder="Coloque el tratamiento" />
    </FormItem>
    <FormItem class="negrita" label="Recomendación y sugerencias">
      <Input type="textarea" placeholder="Recomendaciones y sugerencias" />
    </FormItem>

    <Row>
      <Col>
        <Button type="success"> Guardar y Enviar </Button>
      </Col>
    </Row>
  </Form>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
