<template>
  <Form>
    <h2 class="steps">Orden de Intervencion quirurgica</h2>
    Fecha: 23/08/2020 Hora:13:10:00
    <br />
    Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino, HCE:28931221

    <FormItem class="negrita" label="Diagnóstico">
      <Input type="textarea" placeholder="Coloque el diagnostico" />
    </FormItem>
    <FormItem class="negrita" label="CIE-10">
      <Input type="text" placeholder="cie-10" />
    </FormItem>
    <FormItem class="negrita" label="Procedimiento quirugico">
      <Input
        type="text"
        placeholder="Coloque el procedimiento quirugico que se va a realizar"
      />
    </FormItem>

    <FormItem label="Fecha de la operacion">
      <Input type="date" lang="es" style="width: 410px" />
    </FormItem>

    <FormItem class="negrita" label="Anestesia prevista">
      <Input type="textarea" placeholder="Anestesia prevista" />
    </FormItem>
    <FormItem class="negrita" label="Cirujanos">
      <Button type="primary" @click="modal1 = true"
        >Busqueda de cirujanos</Button
      >
      <Modal
        v-model="modal1"
        title="Busqueda de cirjuanos"
        @on-ok="ok"
        @on-cancel="cancel"
      >
        <p>Ana Berrocal</p>
        <p>Sarai Ferraza</p>
        <p>Michael Espinoza</p>
      </Modal>
    </FormItem>
    <FormItem class="negrita" label="Ayudantes">
      <Button type="primary" @click="modal1 = true"
        >Busqueda de ayudantes</Button
      >
      <Modal
        v-model="modal1"
        title="Busqueda de ayudantes"
        @on-ok="ok"
        @on-cancel="cancel"
      >
        <p>Diana Ruiz</p>
        <p>Manuel Montes</p>
        <p>Francisco Lozano</p>
      </Modal>
    </FormItem>
    <FormItem class="negrita" label="Grupo sanguineo">
      <Input type="text" placeholder="Grupo sanquineo" />
    </FormItem>
    <FormItem class="negrita" label="Hemoglobina">
      <Input type="text" placeholder="Hemoglobina" />
    </FormItem>
    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row>
      <Col>
        <Button type="success"> Guardar </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
export default {
  data() {
    return {
      modal1: false
    }
  },
  methods: {
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
