<template>
  <TabContent>
    <TabPane>
      <Table>
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Ingresos</th>
            <th>Egresos</th>
          </tr>
        </thead>
        <!-- <thead>
          <tr>
            <td>
              {this.state.fechahoy}
            </td>
            <td bgcolor="#7bdcb5" class="text-center" colspan="2" }>
              ENDOVENOSA
            </td>
            <td bgcolor="#7bdcb5" class="text-center" colspan="2">ENTERAL</td>
            <th bgcolor="#7bdcb5" class="text-center" border="0" frame="below">
              TOTAL
            </th>

            {/*
            <td>name1</td>
            <td>price1</td>
            */}
            <td bgcolor="#f47373" class="text-center" colspan="1">ORINA</td>
            <td bgcolor="#f47373" class="text-center" colspan="1">SNG</td>
            {/* sonda naso gastrica */}
            <td bgcolor="#f47373" class="text-center" colspan="1">KEHR</td>
            <td bgcolor="#f47373" class="text-center" colspan="1">FISTULA</td>
            <td bgcolor="#f47373" class="text-center" colspan="1">DRENES</td>
            <td bgcolor="#f47373" class="text-center" colspan="1">APOSITO</td>
            {/* PUS */}
            <td bgcolor="#f47373" class="text-center" colspan="1">HECES</td>
            <th bgcolor="#f47373" class="text-center" colspan="1">TOTAL</th>
          </tr>
        </thead>

        <thead>
          <tr>
            <th class="text-center" bgcolor="#ff6900">HORAS</th>
            <td class="text-center" bgcolor="#b1e4d0">Via Parenteral</td>
            <td class="text-center" bgcolor="#b1e4d0">Via Central</td>
            <td class="text-center" bgcolor="#b1e4d0">SONDA</td>
            <td class="text-center" bgcolor="#b1e4d0">Via Oral</td>
            <td bgcolor="#7bdcb5" />

            <td bgcolor="#f69393" class="text-center" border="1"></td>
            <td bgcolor="#f69393" class="text-center"></td>
            <td bgcolor="#f69393" class="text-center">VON</td>
            {/* vomito */}
            <td bgcolor="#f69393" class="text-center"></td>
            <td bgcolor="#f69393" class="text-center">Intestinal</td>
            <td bgcolor="#f69393" class="text-center">Tubular</td>
            <td bgcolor="#f69393" class="text-center">Pen-R</td>
            <td bgcolor="#f69393" class="text-center">Ost</td>

            {/* kehr sonda */} {/* aposito */}
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row" class="text-center" bgcolor="FF7F33">
              07-13 horas
            </th>
            <td><Input id="t1valor1" type="number" /></td>
            <td><Input id="t1valor2" type="number" /></td>
            <td><Input id="t1valor3" type="number" /></td>
            <td><Input id="t1valor4" type="number" /></td>
            <td>
              {(parseFloat(this.state.t1valor1|| 0 ) +
              parseFloat(this.state.t1valor2|| 0 )
              +parseFloat(this.state.t1valor3|| 0 ) +
              parseFloat(this.state.t1valor4|| 0 ))||0 }
            </td>

            <td><Input id="t1valor11" type="text" /></td>
            <td><Input id="t1valor12" type="text" /></td>
            <td><Input id="t1valor13" type="text" /></td>
            <td><Input id="t1valor14" type="text" /></td>
            <td><Input id="t1valor15" type="text" /></td>
            <td><Input id="t1valor16" type="text" /></td>
            <td><Input id="t1valor17" type="text" /></td>
            <td>
              {(parseFloat(this.state.t1valor11|| 0) +
              parseFloat(this.state.t1valor12||
              0)+parseFloat(this.state.t1valor13||
              0)+parseFloat(this.state.t1valor14|| 0)+
              parseFloat(this.state.t1valor15||
              0)+parseFloat(this.state.t1valor16||
              0)+parseFloat(this.state.t1valor17|| 0))||0}
            </td>
          </tr>
          <tr>
            <th scope="row" class="text-center" bgcolor="FF7F33">13-19 hrs</th>
            <td><Input id="t2valor1" type="text" /></td>
            <td><Input id="t2valor2" type="text" /></td>
            <td><Input id="t2valor3" type="text" /></td>
            <td><Input id="t2valor4" type="text" /></td>
            <td>
              {(parseFloat(this.state.t2valor1|| 0) +
              parseFloat(this.state.t2valor2||
              0)+parseFloat(this.state.t2valor3||
              0)+parseFloat(this.state.t2valor4|| 0))||0 }
            </td>

            <td><Input id="t2valor21" type="text" /></td>
            <td><Input id="t2valor22" type="text" /></td>
            <td><Input id="t2valor23" type="text" /></td>
            <td><Input id="t2valor24" type="text" /></td>
            <td><Input id="t2valor25" type="text" /></td>
            <td><Input id="t2valor26" type="text" /></td>
            <td><Input id="t2valor27" type="text" /></td>
            <td></td>
          </tr>
        </tbody> -->
      </Table>
    </TabPane>
  </TabContent>
</template>
