<template>
  <Form>
    <h2 class="steps">Solicitud del examen de antomia patologica</h2>
    Fecha: 23/08/2020 Hora:13:10:00
    <br />
    DATOS DEL Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino, HCE:28931221

    <FormItem label="Es sobre estudios especiales o cultivos?" class="negrita">
      <br />
      <RadioGroup>
        <Radio class="nonegrita" label="si">Si</Radio>
        <Radio class="nonegrita" label="no">No </Radio>
      </RadioGroup>
    </FormItem>

    <FormItem class="negrita" label="Detalle brevemente">
      <Input type="textarea" placeholder="Detalle brevemente" />
    </FormItem>

    <FormItem class="negrita" label="Diagnostico presuntivo">
      <Input type="text" placeholder="Diagnostico presuntivo" />
    </FormItem>

    <!-- fecha y hora de la muestra -->
    <FormItem class="negrita" label="Busqueda de Examenes">
      <Button type="primary" @click="modal1 = true"
        >Busqueda de Examenes</Button
      >
      <Modal
        v-model="modal1"
        title="Busqueda de Examenes"
        @on-ok="ok"
        @on-cancel="cancel"
      >
        <FormItem label="Tipo de examenes" class="negrita">
          <RadioGroup>
            <Radio class="nonegrita" label="Ecografia">Ecografia</Radio>
            <Radio class="nonegrita" label="Radiografia">Radiografia </Radio>
          </RadioGroup>
        </FormItem>
        <Text> Examenes escogidos </Text>
        <p>777-Radiologia-Rayos X</p>
        <p>123-Radiologia- Visor</p>
      </Modal>
    </FormItem>

    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row>
      <Col>
        <Button type="success"> Guardar </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
export default {
  data() {
    return {
      modal1: false
    }
  },
  methods: {
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
