<template>
  <div>
    <h1 class="steps">Lista de Pacientes</h1>
    <p></p>

    <Table class="mi-tabla" border :columns="columnas" :data="arregloPacientes">
      <template slot="fechaingreso" slot-scope="{ row }">
        {{ row.fechaingreso }}
      </template>
      <template slot="paciente" slot-scope="{ row }">
        <div>{{ row.nombre }}</div>
        <div>{{ row.dni }}</div>
        <div>{{ row.edad }} años</div>
      </template>
      <template slot="cama" slot-scope="{ row }">
        {{ row.cama }}
      </template>
      <template slot="estado" slot-scope="{ row }">
        <div v-if="row.estado === 'POR_ATENDER'">
          <Tag color="success"> Por atender </Tag>
        </div>
        <div v-else-if="row.estado === 'NUEVO'">
          <Tag color="primary"> Nuevo </Tag>
        </div>
      </template>
    </Table>
  </div>
</template>

<script>
export default {
  props: {
    arregloPacientes: {
      type: Array,
      required: true,
      default: () => {
        return []
      }
    }
  },
  data() {
    return {
      columnas: [
        {
          title: 'Fecha de ingreso',
          slot: 'fechaingreso'
        },
        {
          title: 'Paciente',
          slot: 'paciente'
        },
        {
          title: 'Cama',
          slot: 'cama'
        },
        {
          title: 'Estado',
          slot: 'estado'
        }
      ]
    }
  }
}
</script>

<style>
.mi-tabla .ivu-table th {
  background-color: rgba(30, 141, 0) !important;
}
.mi-tabla th .ivu-table-cell {
  color: black !important;
}
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
</style>
