<template>
  <Form>
    <div>
      <h2>Emergencia</h2>
      <Text>
        Nombre Completo:
      </Text>
      <Text>
        DNI:
      </Text>
      <Text>
        Edad:
      </Text>
      <Text>
        Grupo sanguineo:
      </Text>
      <Text>
        Genero:
      </Text>
      <Text>
        Numero de Triaje
      </Text>

      <FormItem label="Tipo de prioridad" class="negrita">
        <RadioGroup>
          <Radio class="nonegrita" label="I">I</Radio>
          <Radio class="nonegrita" label="II">II</Radio>
          <Radio class="nonegrita" label="III">III</Radio>
          <Radio class="nonegrita" label="IV">IV</Radio>
        </RadioGroup>
      </FormItem>

      <FormItem class="negrita" label="Motivo de atencion:">
        <Input
          id="motivoAtencion"
          name="motivoAtencion"
          placeholder="Motivo de atencion"
          required
        />
      </FormItem>

      <FormItem class="negrita" label="Tiempo de enfermedad:">
        <Input
          id="tiempoEnfermedad"
          name="tiempoEnfermedad"
          placeholder="Tiempo de enfermedad"
          required
        />
      </FormItem>
      <FormItem
        class="negrita"
        label="
    Sintomas principales:"
      >
        <Input
          id="sintomasPrincipales"
          name="sintomasPrincipales"
          placeholder="Sintomas principales"
          required
        />
        <p></p>
      </FormItem>
      <FormItem class="negrita" label="Relato">
        <Input
          id="relato"
          type="textarea"
          name="relato"
          placeholder="Relato"
          required
        />
        <p></p>
      </FormItem>

      <Button on-click="{this.abrirModal}"> Seleccionar Antecedentes </Button>
      <Modal is-open="{this.state.modalDiagnosticoImagenes}"></Modal>
      <p></p>
      <FormItem
        class="negrita"
        label="
    Hospitalizaciones previas:"
      >
        <Input
          id="hospitalizacionesPrevias"
          name="hospitalizacionesPrevias"
          placeholder="Hospitalizaciones previas"
          required
        />
      </FormItem>

      <FormItem
        class="negrita"
        label="
    Medicacion habitual:"
      >
        <Input
          id="medicacionHabitual"
          name="medicacionHabitual"
          placeholder="Medicacion habitual"
          required
        />
      </FormItem>

      <Button on-click="{this.abrirModal}"> Seleccionar Medicamentos </Button>
      <!-- <Modal is-open="{this.state.modalDiagnosticoImagenes}"></Modal> -->
      <FormItem label="Estado basal:" class="negrita">
        <RadioGroup>
          <Radio class="nonegrita" label="independiente">Independiente</Radio>
          <Radio class="nonegrita" label="dependienteparcial"
            >Dependiente Parcial</Radio
          >
          <Radio class="nonegrita" label="dependientetotal"
            >Dependiente Total</Radio
          >
        </RadioGroup>
      </FormItem>

      <FormItem class="negrita" label=" Examen fisico:">
        <Input
          id="examenfisico"
          name="examenfisico"
          placeholder="Examen fisico"
          required
        />
      </FormItem>
    </div>
  </Form>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
}
.negrita {
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
