<template>
  <Form>
    <h2 class="steps">Consetimiento informado</h2>
    Fecha: 23/08/2020 Hora:13:10:00
    <br />
    Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino, HCE:28931221
    <FormItem label="TipoConsentimiento" class="negrita">
      <br />
      <RadioGroup>
        <Radio class="nonegrita" label="intervencion"
          >Intervencion quirurgica</Radio
        >
        <Radio class="nonegrita" label="procedimiento"
          >Procedimiento quirurgico</Radio
        >
        <Radio class="nonegrita" label="modalidad">Modalidad de atencion</Radio>
      </RadioGroup>
    </FormItem>
    <FormItem class="negrita" label="Descripcion de">
      <Input type="textarea" placeholder="Coloque el diagnostico" />
    </FormItem>

    <FormItem class="negrita" label="Riesgos reales y pontenciales">
      <Input type="textarea" placeholder="Riesgos Reales y pontencialea" />
    </FormItem>

    <FormItem class="negrita" label="Detalle de los antibioticos/Anestesia">
      <Input type="text" placeholder="Grupo sanquineo" />
    </FormItem>
    <FormItem class="negrita" label="Pronosticos y recomendaciones">
      <Input type="text" placeholder="Pronosticos y recomendaciones" />
    </FormItem>
    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row>
      <Col>
        <Button type="success"> Generar documento </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
export default {
  data() {
    return {
      modal1: false
    }
  },
  methods: {
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
