<template>
  <div>
    <template> </template>
    <Form>
      <div>
        <h1 class="steps">Nota de Enfermeria</h1>
        <div style="text-align:right">
          <img
            class="imagenenf"
            src="http://cliparts.co/cliparts/j5i/Rr8/j5iRr8eca.png"
          />
        </div>
        <template>
          <Tabs type="card">
            <TabPane label="Notas de Ingreso">
              Paciente: Katherine Ruiz
              <p>Edad:22; Fecha:23/09/2019; Hora:22:10</p>

              <!-- <h4>Notas de Ingreso:</h4> -->

              <div>
                <b>
                  <!-- Fecha: {{ this.state.fechahoy }} &nbsp;&nbsp;&nbsp;&nbsp; Hora:
            {this.state.horahoy} -->
                </b>
              </div>
              <p></p>
              <FormItem class="negrita" label="Forma de Ingreso">
                <Input type="textarea" placeholder="Forma de Ingreso"></Input>
              </FormItem>
              <Text>
                <b
                  >A continuación, describa los siguientes items sobre la
                  condición del paciente:
                </b>
              </Text>
              <FormItem class="negrita" label="Funciones vitales">
                <Input type="textarea" placeholder="Funciones vitales"></Input>
              </FormItem>
              <FormItem class="negrita" label="Funciones biológicas">
                <Input
                  type="textarea"
                  placeholder="Funciones biológicas"
                ></Input>
              </FormItem>
              <FormItem class="negrita" label="Estado General">
                <Input type="textarea" placeholder="Estado General"></Input>
              </FormItem>

              <Row type="flex" justify="end" gutter="14">
                <Col>
                  <Button type="warning">
                    Editar
                  </Button>
                </Col>
                <Col>
                  <Button block type="success" @click="siguientepag">
                    Guardar y Continuar
                  </Button>
                </Col>
              </Row>
            </TabPane>
            <TabPane label="Evolucion">
              <Form>
                <div>
                  <b>
                    Fecha: {this.state.fechahoy} &nbsp;&nbsp;&nbsp;&nbsp; Hora:
                    {familiar.horahoy}
                  </b>
                </div>
                <FormItem class="negrita" label="Signos y sintomas">
                  <Input
                    id="signosSintomas"
                    type="textarea"
                    name="signosSintomas"
                    placeholder="Detalle los signos y sintomas que padece el paciente"
                    required
                  />
                </FormItem>

                <FormItem class="negrita" label="Tratamiento aplicado">
                  <Input
                    id="tratamientoAplicado"
                    type="textarea"
                    name="tratamientoAplicado"
                    placeholder="Coloque el tratamiento aplicado"
                    required
                  />
                </FormItem>
                <Row>
                  <Col>
                    <Button on-click="{this.agregarFamiliar}" color="warning">
                      Agregar Nota
                    </Button>
                  </Col>

                  <Col>
                    <Button type="success">
                      Guardar
                    </Button>
                  </Col>
                </Row>
              </Form>
            </TabPane>
          </Tabs>
        </template>
      </div>
    </Form>
  </div>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.imagenenf {
  /* max-width: 50%;
  padding: 10px 0; */
  max-height: 200px;

  max-width: 200px;
  position: absolute;

  right: 30px;

  top: 80px;
}
</style>

<script>
export default {
  data() {
    return {
      current: 0,
      lstGenero: [
        {
          value: 'Femenino',
          label: 'Femenino'
        },
        {
          value: 'Masculino',
          label: 'Masculino'
        }
      ],

      model1: ''
    }
  },
  methods: {
    siguientepag() {
      if (this.current < 1) this.current++
    }
    // Date hoy= new Date(),
    // hoyString() {
    //   hoy.getDate() + '/' + (hoy.getMonth() + 1) + '/' + hoy.getFullYear()
    // }
  }
}
</script>
