<template>
  <div>
    <!-- Nueva Hospitalizacion -->
    <Steps :current="current" class="steps">
      <Step title="Enfermedad Actual" content="Descripcion sintomas"> </Step>
      <Step title="Examen Fisico" content="Examinar al paciente"> </Step>

      <Step title="Diagnostico" content="Resultado"></Step>
      <Step title="Tratamiento" content="Tratamiento y medicacion"></Step>
      <Step title="Plan de Trabajo" content="Tratar al paciente"></Step>
    </Steps>
    <template v-if="current === 0">
      <Form label-position="top">
        <FormItem label="Enfermedad actual del paciente">
          <Input> </Input>
        </FormItem>
        <FormItem label="Tiempo de enfermedad">
          <Input></Input>
        </FormItem>
        <FormItem label="Signos y sintomas principales">
          <Input></Input>
        </FormItem>
        <FormItem label="Relato cronologico">
          <Input></Input>
        </FormItem>
        <FormItem label="Funciones Biologicas">
          <Input></Input>
        </FormItem>
      </Form>
    </template>
    <template v-if="current === 1">
      <Form label-position="top">
        <FormItem label="Frecuencia cardiaca">
          <Input> </Input>
        </FormItem>
        <FormItem label="Tiempo de enfermedad">
          <Input></Input>
        </FormItem>
        <FormItem label="Signos y sintomas principales">
          <Input></Input>
        </FormItem>
        <FormItem label="Relato cronologico">
          <Input></Input>
        </FormItem>
        <FormItem label="Funciones Biologicas">
          <Input></Input>
        </FormItem>
      </Form>
    </template>
    <Row type="flex" justify="end">
      <Col>
        <Button type="warning" :disabled="current === 0" @click="anteriorpag">
          Volver
        </Button>

        <Button type="success" @click="siguientepag">
          <template v-if="current < 4">
            Guardar y continuar
          </template>
          <template v-if="current === 4">
            Guardar
          </template>
        </Button>
      </Col>
    </Row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current: 0
    }
  },
  methods: {
    siguientepag() {
      if (this.current < 4) this.current++
    },
    anteriorpag() {
      if (this.current > 0) this.current--
    }
  }
}
</script>
<style scoped>
.steps {
  margin-bottom: 2rem;
}
</style>
