<template>
  <Form>
    <h2 class="steps">Informe del examen Anatomia patologica</h2>
    Fecha: 23/08/2020 Hora:13:10:00
    <br />
    DATOS DEL Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino,
    HCE:28931221,cama:22, servicio:PABELLO E-2
    <!-- POR CADA EXAMEN APARECERA LO SIGUIENTE -->
    <FormItem class="negrita" label="N~ informe del examen">
      <Input type="text" placeholder="N~ informe del examen" />
    </FormItem>

    <FormItem class="negrita" label="Resultados">
      <Input
        type="textarea"
        placeholder="Descripcion de hallazgos y diagnosticos"
      />
    </FormItem>
    <!-- fecha y hora del resultado -->
    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row>
      <Col>
        <Button type="success"> Guardar </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
export default {
  data() {
    return {
      modal1: false
    }
  },
  methods: {
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
