<template>
  <Form>
    <h2 class="steps">Retiro voluntario</h2>
    Fecha: 23/08/2020 Hora:13:10:00
    <br />
    Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino, HCE:28931221
    <!-- <Text>Es el paciente quien solicita este retiro?</Text> -->
    <FormItem
      label="Es el paciente quien solicita este retiro?"
      class="negrita"
    >
      <br />
      <RadioGroup>
        <Radio class="nonegrita" label="si">Si</Radio>
        <Radio class="nonegrita" label="no">No </Radio>
      </RadioGroup>
    </FormItem>
    <FormItem
      class="negrita"
      label="Nombre de la persona legalmente responsable"
    >
      <Input placeholder="Nombre de la persona legalmente responsable" />
    </FormItem>
    <FormItem class="negrita" label="DNI de la persona legalmente responsable">
      <Input placeholder="DNI de la persona legalmente responsable" />
    </FormItem>

    <FormItem class="negrita" label="Condicion actual del paciente">
      <Input placeholder="Condicion actual del paciente" />
    </FormItem>

    <!-- BRINDAR CONFORME TANTO EL CIRUJANO COMO EL DOCTOR -->
    <Row>
      <Col>
        <Button type="success"> Generar documento </Button>
      </Col>
    </Row>
  </Form>
</template>
<script>
export default {
  data() {
    return {
      modal1: false
    }
  },
  methods: {
    ok() {
      this.$Message.info('Clicked ok')
    },
    cancel() {
      this.$Message.info('Clicked cancel')
    }
  }
}
</script>
<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  margin-bottom: 0.2rem;
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
