<template>
  <div>
    <Card>
      Paciente: Katherine Ruiz
      <p>Edad:22; Fecha:23/09/2019; Hora:22:10</p>
    </Card>
    <Card>
      <div class="tabs">
        <Tabs type="card">
          <TabPane label="Información general" value="GENERAL">
            <Form label-position="top">
              <Row :gutter="24">
                <Col :md="6">
                  <FormItem label="Documento">
                    <Input placeholder="72036409">
                      <Select slot="prepend" style="width: 70px">
                        <Option value="DNI">DNI</Option>
                        <Option value="CE">C.E.</Option>
                      </Select>
                    </Input>
                  </FormItem>
                </Col>
                <Col :md="9">
                  <FormItem label="Nombres">
                    <Input placeholder="Nombres" required />
                  </FormItem>
                </Col>
                <Col :md="9">
                  <FormItem label="Apellidos">
                    <Input placeholder="Apellidos" required />
                  </FormItem>
                </Col>

                <Col :md="6">
                  <FormItem label="Fecha de nacimiento">
                    <Input type="date" />
                  </FormItem>
                </Col>
                <Col :md="6">
                  <FormItem label="Sexo">
                    <RadioGroup>
                      <Radio label="femenino">Femenino</Radio>
                      <Radio label="masculino">Masculino</Radio>
                    </RadioGroup>
                  </FormItem>
                </Col>
              </Row>

              <Row :gutter="24">
                <Col :md="12">
                  <FormItem label="Estado civil">
                    <Select>
                      <Option> Sin instruccion</Option>
                      <Option> Inicial</Option>
                      <Option> Primaria completa</Option>
                      <Option> Primaria incompleta</Option>
                      <Option> Superior completo</Option>
                      <Option> Superior incompleto</Option>
                    </Select>
                  </FormItem>
                </Col>
                <Col :md="12">
                  <FormItem label="Religion">
                    <Input placeholder="Religion" />
                  </FormItem>
                </Col>
                <Col :md="12">
                  <FormItem label="Grado de Instruccion">
                    <Select>
                      <Option> Sin instruccion</Option>
                      <Option> Inicial</Option>
                      <Option> Primaria completa</Option>
                      <Option> Primaria incompleta</Option>
                      <Option> Superior completo</Option>
                      <Option> Superior incompleto</Option>
                    </Select>
                  </FormItem>
                </Col>

                <Col :md="12">
                  <FormItem label="Ocupacion">
                    <Select>
                      <Option> Seleccione ocupacion</Option>
                      <Option> Sin ocupacion</Option>
                      <Option> Carpintero</Option>
                      <Option> Ingeniero</Option>
                      <Option> Medico</Option>
                      <Option> Abogado</Option>
                    </Select>
                  </FormItem>
                </Col>
              </Row>
              <Row :gutter="24">
                <Col :md="6">
                  <FormItem label="Grupo Sanguineo">
                    <Input placeholder="Grupo Sanguineo" />
                  </FormItem>
                </Col>

                <Col :md="6">
                  <FormItem label="Factor Rh">
                    <Input placeholder="Factor Rh" />
                  </FormItem>
                </Col>
                <Col :md="6">
                  <FormItem label="Peso">
                    <Input placeholder="Peso" />
                  </FormItem>
                </Col>
                <Col :md="6">
                  <FormItem label="Talla">
                    <Input placeholder="Factor Rh" />
                  </FormItem>
                </Col>
              </Row>
            </Form>
          </TabPane>
          <TabPane label="Contacto" value="Contacto">
            <Form label-position="top">
              <Row :gutter="24">
                <Col :md="8">
                  <FormItem label="Teléfono">
                    <Input placeholder="4384672" />
                  </FormItem>
                </Col>
                <Col :md="8">
                  <FormItem label="Celular">
                    <Input placeholder="991123746" />
                  </FormItem>
                </Col>
                <Col :md="8">
                  <FormItem label="Correo electrónico">
                    <Input placeholder="correo@ejemplo.com" />
                  </FormItem>
                </Col>
              </Row>
              <legend>Domicilio de procedencia</legend>
              <Row :gutter="24">
                <Col :md="8">
                  <FormItem label="Departamento">
                    <Select placeholder="Departamento">
                      <Option> Seleccionar un departamento</Option>
                      <Option> Lima</Option>
                      <Option> Tacna</Option>
                      <Option> Ica</Option>
                      <Option> Loreto</Option>
                    </Select>
                  </FormItem>
                </Col>
                <Col :md="8">
                  <FormItem label="Provincia">
                    <Select
                      placeholder="Provincia"
                      disabled="{this.state.provinciadisab}"
                    >
                      <Option> Seleccionar una provincia</Option>
                      <Option> Lima</Option>
                      <Option> Tacna</Option>
                      <Option> Ica</Option>
                      <Option> Loreto</Option>
                    </Select>
                  </FormItem>
                </Col>
                <Col :md="8">
                  <FormItem label="Distrito">
                    <Select
                      placeholder="Distrito"
                      disabled="{this.state.distritodisab}"
                    >
                      <Option> Seleccionar un distrito</Option>
                      <Option> Santiago de Surco</Option>
                      <Option> San Isidro</Option>
                      <Option> San Borja</Option>
                      <Option> Miraflores</Option>
                    </Select>
                  </FormItem>
                </Col>
                <Col :md="24">
                  <FormItem label="Dirección">
                    <Input />
                  </FormItem>
                </Col>
              </Row>
              <legend>Domicilio actual</legend>
              <Row :gutter="24">
                <Col :md="8">
                  <FormItem label="Departamento">
                    <Select placeholder="Departamento">
                      <Option> Seleccionar un departamento</Option>
                      <Option> Lima</Option>
                      <Option> Tacna</Option>
                      <Option> Ica</Option>
                      <Option> Loreto</Option>
                    </Select>
                  </FormItem>
                </Col>
                <Col :md="8">
                  <FormItem label="Provincia">
                    <Select
                      placeholder="Provincia"
                      disabled="{this.state.provinciadisab}"
                    >
                      <Option> Seleccionar una provincia</Option>
                      <Option> Lima</Option>
                      <Option> Tacna</Option>
                      <Option> Ica</Option>
                      <Option> Loreto</Option>
                    </Select>
                  </FormItem>
                </Col>
                <Col :md="8">
                  <FormItem label="Distrito">
                    <Select
                      placeholder="Distrito"
                      disabled="{this.state.distritodisab}"
                    >
                      <Option> Seleccionar un distrito</Option>
                      <Option> Santiago de Surco</Option>
                      <Option> San Isidro</Option>
                      <Option> San Borja</Option>
                      <Option> Miraflores</Option>
                    </Select>
                  </FormItem>
                </Col>
                <Col :md="12">
                  <FormItem label="Dirección">
                    <Input />
                  </FormItem>
                </Col>
                <Col :md="12">
                  <FormItem label="Referencia">
                    <Input />
                  </FormItem>
                </Col>
              </Row>
            </Form>
          </TabPane>
          <TabPane label="Otros">
            <Form>
              <FormItem label="Cuenta con seguro medico?">
                <RadioGroup>
                  <Radio label="si">Si</Radio>
                  <Radio label="no">No</Radio>
                </RadioGroup>
              </FormItem>
              <Input slot="prepend" style="width: 410px">
                <Select>
                  <Option labe="day">SIS</Option>
                  <Option>SOAT</Option>
                </Select>
              </Input>
              <FormItem label="Tipo de seguro medico">
                <Select style="width: 410px">
                  <Option> SIS</Option>
                  <Option> SOAT</Option>
                </Select>
              </FormItem>
              <FormItem label="Numero del seguro">
                <Input
                  style="width: 410px"
                  placeholder="Numero del seguro medico"
                />
              </FormItem>
              <FormItem
                label="DNI y nombre de la persona responsable o acompanhante"
              >
                <Input
                  style="width: 410px"
                  placeholder="DNI y nombre de la persona responsable o acompanante"
                />
              </FormItem>
              <FormItem label="Domicilio">
                <Input style="width: 410px" placeholder="Domicilio" />
              </FormItem>
            </Form>
          </TabPane>
        </Tabs>
        <Row type="flex" justify="end">
          <Col>
            <Button type="danger" @click="anteriorpag">
              Cancelar
            </Button>

            <Button type="success" @click="siguientepag">
              Guardar
            </Button>
          </Col>
        </Row>
      </div>
    </Card>
  </div>
</template>

<style>
legend {
  margin-bottom: 18px;
}

.tabs {
}
.tabs > .ivu-tabs-card > .ivu-tabs-content > .ivu-tabs-tabpane {
  background: #fff;
  padding: 24px 8px;
}

.tabs > .ivu-tabs-card > .ivu-tabs-content {
  margin-top: -16px !important;
  z-index: 1000;
}
</style>

<script>
export default {
  data() {
    return {
      current: 0,
      select3: 'day'
    }
  },
  methods: {
    siguientepag() {
      if (this.current < 1) this.current++
    }
  }
}
</script>
