<template>
  <div>
    <Form>
      <div>
        <h1 class="steps">Ficha familiar</h1>

        <Form>
          <FormItem>
            <Row gutter="28">
              <Col span="12">
                <FormItem label="Nombres">
                  <br />
                  <Input
                    id="nombres"
                    style="width: 410px"
                    name="nombres"
                    placeholder="Nombres"
                    required
                  />
                </FormItem>
                <FormItem label="Apellidos">
                  <br />
                  <Input
                    id="apellidos"
                    style="width: 410px"
                    placeholder="Apellidos"
                    required
                  />
                </FormItem>
                <FormItem label="DNI">
                  <br />
                  <Input placeholder="DNI" style="width: 410px" required />
                </FormItem>
                <FormItem label="Fechanacimiento">
                  <Input type="date" lang="es" style="width: 410px" />
                </FormItem>

                <FormItem label="Genero" class="negrita">
                  <br />
                  <RadioGroup>
                    <Radio class="nonegrita" label="femenino">Femenino</Radio>
                    <Radio class="nonegrita" label="masculino">Masculino</Radio>
                  </RadioGroup>
                </FormItem>
              </Col>
              <Col span="12">
                <FormItem label="Parentesco a">
                  <br />
                  <!-- <Input type="select" name="select" placeholder="Parentesco" }> -->
                  <Select v-model="select2" style="width: 410px">
                    <Option> Padre</Option>
                    <Option> Madre</Option>
                    <Option> Hijo(a)</Option>
                    <Option> Hijo(a) Adoptivo(a)</Option>
                    <Option> Abuelo(a)</Option>
                    <Option> Tio(a)</Option>
                    <Option> Nieto(a)</Option>
                    <Option> Padrastro</Option>
                    <Option> Madrastra</Option>
                    <Option> Sobrino(a)</Option>
                    <Option> Primo(a)</Option>
                    <Option> Bisabuelo(a)</Option>
                    <Option> Amigo(a)</Option>
                    <Option> Hermano(a)</Option>
                    <Option> Yerno</Option>
                    <Option> Nuera</Option>
                  </Select>
                  <!-- </Input> -->
                </FormItem>

                <FormItem label="Estado Civil">
                  <br />
                  <Select style="width: 410px">
                    <!-- <Input type="select" name="select" placeholder="Estado Civil" }> -->
                    <Option> Soltero</Option>
                    <Option> Conviviente</Option>
                    <Option> Casado</Option>
                    <Option> Separado</Option>
                    <Option> Divorciado</Option>
                    <Option> Viudo</Option>
                    <Option> Otros</Option>
                    <!-- </Input> -->
                  </Select>
                </FormItem>
                <FormItem label="Grado de Instruccion">
                  <Select style="width: 410px">
                    <!-- <Input                  type="Select"                  name="Select"                  placeholder="Grado de Instruccion"                  }                > -->
                    <Option> Sin instruccion</Option>
                    <Option> Inicial</Option>
                    <Option> Primaria completa</Option>
                    <Option> Primaria incompleta</Option>
                    <Option> Superior completo</Option>
                    <Option> Superior incompleto</Option>
                    <!-- </Input> -->
                  </Select>
                </FormItem>

                <FormItem label="Condicion de Ocupacion">
                  <!-- <Input
                  type="Select"
                  name="Select"
                  placeholder="Condicion de Ocupacion"
                  }
                > -->
                  <Select style="width: 410px">
                    <Option> Trabajador estable</Option>
                    <Option> Eventual</Option>
                    <Option> Sin ocupacion</Option>
                    <Option> Jubilado</Option>
                    <Option> Estudiante</Option>
                    <!-- </Input> -->
                  </Select>
                </FormItem>
                <br />
                <Row type="flex" justify="end">
                  <Col>
                    <Button type="error" @click="anteriorpag">
                      Cancelar
                    </Button>

                    <Button type="success" @click="siguientepag">
                      Guardar
                    </Button>
                  </Col>
                </Row>
              </Col>
            </Row>
          </FormItem>
        </Form>
        <Button type="dashed" long icon="md-add" @click="duplicarpant"
          >Agregar Familiar</Button
        >
      </div>
    </Form>
  </div>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
</style>

<script>
export default {
  data() {
    return {
      lstGenero: [
        {
          value: 'Femenino',
          label: 'Femenino'
        },
        {
          value: 'Masculino',
          label: 'Masculino'
        }
      ],

      model1: '',
      formItem: {
        input: '',
        select: '',
        radio: 'male',
        checkbox: [],
        switch: true,
        date: '',
        time: '',
        slider: [20, 50],
        textarea: ''
      }
    }
  },
  methods: {
    // duplicarpant() {
    // }

    duplicarpant() {
      this.index++
      this.formDynamic.items.push({
        value: '',
        index: this.index,
        status: 1
      })
    }
  }
}
</script>
