<template>
  <div class="container">
    <Row type="flex" justify="center">
      <Col span="7">
        <Card>
          <h2>Login</h2>
          <small> Ingresa a tu cuenta </small>
          <Form label-position="left">
            <FormItem>
              <Input placeholder="Usuario">
                <span slot="prepend">
                  <Icon type="ios-person" />
                </span>
              </Input>
            </FormItem>
            <FormItem>
              <Input placeholder="Password">
                <span slot="prepend">
                  <Icon type="md-lock" />
                </span>
              </Input>
            </FormItem>
          </Form>
          <small> Ingrese su huella digital (Haga click en la imagen) </small>
          <div style="text-align:center">
            <img class="huelladig" src="@/assets/gif/huelladigital.gif" />
          </div>
          <Row type="flex" justify="space-between" align="middle">
            <Col>
              <Button type="primary">
                Ingresar
              </Button>
            </Col>
            <Col>
              <a> <small> Olvidaste tu contraseña? </small></a>
            </Col>
          </Row>
        </Card>
      </Col>
    </Row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      mivar: 'kat'
    }
  }
}
</script>

<style scoped>
.huelladig {
  max-width: 50%;
  padding: 10px 0;
}
</style>
