<template>
  <div>
    <div class="label"></div>
    <div class="hour">{{ time }}</div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      time: ''
    }
  },
  mounted() {
    this.reloadTime()
  },
  methods: {
    reloadTime() {
      this.time = new Date().toLocaleString()
      setTimeout(this.reloadTime, 1000)
    }
  }
}
</script>
