<template>
  <Form>
    <h2 class="steps">Solicitud de Interconsulta</h2>
    Fecha: 23/08/2020 Hora:13:10:00
    <br />
    Paciente: Katherine Ruiz, Edad: 22, Sexo:Femenino, HCE:28931221
    <FormItem class="negrita" label=" Servicio interconsultado">
      <Select
        id="servicio"
        class="nonegrita"
        placeholder="Seleccione el servicio que sera interconsultado"
      >
        <Option class="nonegrita"> Dermatologia</Option>
        <Option class="nonegrita"> Anestesiologia</Option>
        <Option class="nonegrita"> Pediatria</Option>
        <Option class="nonegrita"> Cardiologia</Option>
        <Option class="nonegrita"> Traumatologia</Option>
        <Option class="nonegrita"> Otro </Option>
      </Select>
    </FormItem>
    <FormItem class="negrita" label=" Motivo de la interconsulta">
      <Select
        id="tipo"
        class="nonegrita"
        placeholder="Seleccione el motivo de la interconsulta"
      >
        <Option class="nonegrita"> Diagnostico</Option>
        <Option class="nonegrita"> Manejo Terapeutico</Option>
        <Option class="nonegrita"> Procedimiento</Option>
        <Option class="nonegrita"> Transferencia</Option>
        <Option class="nonegrita"> Alta</Option>
        <Option class="nonegrita"> Otro </Option>
      </Select>
    </FormItem>
    <FormItem class="negrita" label="Breve descripcion de la enfermedad actual">
      <Input
        type="textarea"
        placeholder="Coloque una breve descripcion de la enfermedad actual"
      />
    </FormItem>
    <FormItem class="negrita" label="Diagnostico presuntivo">
      <Input type="textarea" placeholder="Coloque el diagnostico presuntivo" />
    </FormItem>
    <Row>
      <Col>
        <Button type="success"> Confirmar y enviar </Button>
      </Col>
    </Row>
  </Form>
</template>

<style scoped>
.steps {
  margin-bottom: 2rem;
  text-align: center;
}
.negrita {
  font-weight: bold;
}
.nonegrita {
  font-weight: normal;
}
</style>
