<template>
  <div>
    <ListaPaciente :arreglo-pacientes="pacientes" />
  </div>
</template>

<script>
import ListaPaciente from '~/components/hospitalizaciones/index-table'
export default {
  components: {
    ListaPaciente
  },
  data() {
    return {
      pacientes: [
        {
          fechaingreso: '23/09/1996',
          nombre: 'Katherine Ruiz',
          dni: '72573563',
          edad: '23',
          cama: 23,
          estado: 'POR_ATENDER'
        },
        {
          fechaingreso: '22/11/1997',
          nombre: 'Diana Ruiz',
          dni: '1233563',
          edad: '22',
          cama: 29,
          estado: 'NUEVO'
        },
        {
          fechaingreso: '18/12/1997',
          nombre: 'Johann Morales',
          dni: '1233893',
          edad: '21',
          cama: 21,
          estado: 'NUEVO'
        }
      ]
    }
  }
}
</script>
